.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonAction {
  background-color: #0085ff;
  padding: 1.5rem;
  border-radius: 16px;
  color: black;
  font-weight: 600;
  color: white;
  border: 0px solid transparent;
  cursor: pointer;
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}

.buttonAction:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.buttonAction:hover {
  transform: scale(1.1);
}

.txDetails {
  margin-top: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txLink {
  cursor: pointer;
  text-decoration: underline;
}

.rowChecker {
  margin-top: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

.textError {
  color: red;
  font-size: 1.5rem;
}

.buttonSwitchChain {
  background-color: transparent;
  border: 0px solid transparent;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: underline;
}

.rowBalance {
  font-size: 2rem;
}
